google-api-python-client
google-auth
google-cloud-storage
python-dotenv
requests
apache-airflow
apache-airflow-providers-google
apache-airflow-providers-postgres
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
redis
annotated-types
pydantic
pandas
pyarrow
html2text
beautifulsoup4
openai
